Django==4.2.11
djangorestframework
djangorestframework-simplejwt
django-cors-headers
channels
channels[daphne]
daphne
gunicorn
whitenoise
psycopg2-binary
Pillow
qrcode
requests
python-dotenv
cloudinary
django-cloudinary-storage
dj-database-url
opencv-python-headless
ultralytics
cvzone
numpy
