Django==4.2.11
djangorestframework
djangorestframework-simplejwt
django-cors-headers

channels

gunicorn
whitenoise

psycopg2-binary
Pillow

qrcode
requests
python-dotenv

channels[daphne]
daphne
uvicorn[standard]

cvzone
imageio-ffmpeg
ultralytics
opencv-python
lap
easyocr
